rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /characters/{document} {
      allow read, write: if true;
    }

    match /classes/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /classProfiles/{document} {
      allow read: if true;
      allow write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}